*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Notable', sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/736x/93/7b/54/937b54198d1a84376dddaf148f5da5cc.jpg);
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.img__header{
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    -webkit-text-stroke: 0.8px rgb(249, 209, 47);
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 0 2%;
}

.menu1{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.menu2{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.reciver{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-text-stroke: 0.8px rgb(249, 209, 47);
    font-size: 1.1rem;
    margin-top: 2%;
    margin-bottom: 5%;
}

.reciver__text{ 
    text-align: center;
    max-width: 80vw;
    margin-bottom: 5%;
    
}

.img{
    align-self: center;
    width: 25vw;
    height: 25vh;
} 

.img__inside{
    width: 100%;
    height: 100%;
}

audio{
    align-self: center;
    
    
}


